<footer>
  <div>
    <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
      <a
        class="flex font-header items-center md:justify-start justify-center text-white"
      >
        <img
          class="w-10 h-10 text-white p-2 bg-midnight-800 rounded-full border-2 border-primary-500"
          src="image/favicon.png"
        />
        <span class="ml-3 text-2xl">Artgen CORE</span>
      </a>
      <p class="mt-2 text-sm text-midnight-300">
        Don't forget to have a good day!
      </p>
    </div>
    <div
      class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center"
    >
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="font-header text-white mb-3">Related Content</h2>
        <nav class="list-none mb-10">
          <li>
            <a href="https://github.com/ArtgenIO">GitHub Organization</a>
          </li>
          <li>
            <a href="https://hub.docker.com/r/artgenio/core"
              >Docker Repository</a
            >
          </li>
          <li>
            <a href="https://www.npmjs.com/package/@artgenio/core"
              >NPM Package</a
            >
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="font-header text-white mb-3">Community</h2>
        <nav class="list-none mb-10">
          <li>
            <a href="https://buttondown.email/artgen">Newsletter</a>
          </li>
          <li>
            <a href="https://blog.artgen.io/">Official Blog</a>
          </li>
          <li>
            <a href="https://hisorange.me">Authors Website</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="font-header text-white mb-3">Contact</h2>
        <nav class="list-none mb-10">
          <li><a href="https://twitter.com/artgencms">Twitter</a></li>
          <li><a href="https://www.reddit.com/r/artgen/">Reddit</a></li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="font-header text-white mb-3">Product</h2>
        <nav class="list-none mb-10">
          <li>
            <a href="https://www.npmjs.com/package/@artgenio/core"
              >NPM Package</a
            >
          </li>
          <li>
            <a href="https://hub.docker.com/r/artgenio/core">Docker Image</a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCKCq74TXnBLNL8qraYCX0xg"
              >YouTube</a
            >
          </li>
        </nav>
      </div>
    </div>
  </div>
</footer>
