<section class="solution">
  <div>
    <div>
      <div class="icon">
        <svg
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            strokeWidth="{2}"
            d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"
          />
        </svg>
      </div>

      <div class="reason">
        <h2>No Code</h2>
        <p>
          In the early 1980s the world has changed, because computers eliminated
          the repatitive part of the work. But up until now You
          <i class="text-red-600">cannot</i> just jump into the digital
          revolution, You had to learn programming languages to bring Your dream
          to the market. But here is the
          <u class="text-primary-500">No Code Revolution!</u>
        </p>

        <a href="https://docs.artgen.io"
          >Learn More
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-4 h-4 ml-2"
            viewBox="0 0 24 24"
          >
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>

    <div>
      <div class="icon">
        <svg
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            strokeWidth="{2}"
            d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"
          />
        </svg>
      </div>
      <div class="reason">
        <h2>Visual Database</h2>
        <p>
          Have You seen a database with hundreds of normalized tables? It looks
          like an entagled mess! Managing data can be
          <i class="text-red-600">scary</i> figuring out complicated data
          structures and messing around with instructions... Why not just draw
          it? With our Visual Database Manager you can just
          <u class="text-primary-500">draw a system</u>!
        </p>

        <a href="https://docs.artgen.io"
          >Learn More
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-4 h-4 ml-2"
            viewBox="0 0 24 24"
          >
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>

    <div>
      <div class="icon">
        <svg
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            strokeWidth="{4}"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <div class="reason">
        <h2>Headless CMS</h2>
        <p>
          2 week and 80 hour of development just for a list, and You can
          <i class="text-red-600">finally</i>
          see the closed orders... No! With our headless CMS you can instantly
          access any data in your system and see it the way You ment to do! And
          not just You, your partners can
          <u class="text-primary-500">connect</u> their products to your system.
        </p>

        <a href="https://docs.artgen.io"
          >Learn More
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-4 h-4 ml-2"
            viewBox="0 0 24 24"
          >
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
