@charset "utf-8";

$light-gray: #cfd2d9;

$title-family: 'Gruppo', cursive;
$title-weight: 100;

$subtitle-color: $light-gray;

$size-1: 7rem;

@import 'bulma';

html,
body {
  background-color: #151719;
}

main {
  color: #cfd2d9;
}

.subtitle {
  color: #cfd2d9;
}

.hero > .webgl,
.hero > .cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
