@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'simplelightbox/dist/simple-lightbox.css';

html,
body {
  @apply scrollbar bg-midnight-800 scrollbar-thumb-midnight-400 scrollbar-track-midnight-700 scrollbar-w-2 overflow-x-hidden text-midnight-200;

  background-image: url('img/squares.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

header {
  @apply bg-midnight-900 fixed top-0 left-0 right-0 text-gray-300 shadow-md z-20;
}

main h1 {
  @apply text-midnight-200;
}

.hero {
  background-color: #101010;
  background-image: url('./img/galaxy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.brush {
  @apply block opacity-80 bg-no-repeat absolute;

  background-image: url('./img/brush.svg');
  background-size: 100% 200%;
  background-position: -20px center;

  z-index: -1;
  left: -40%;
  top: -25px;

  width: 200%;
  height: 192px;
}

.feature > h2 {
  font-weight: 400;
}

.feature img {
  @apply h-48;

  border: 1px solid #37393f;
  box-shadow: 0 0 5px 5px #101010;
  border-radius: 6px;
}

.feature h2.gruppo {
  @apply text-xl font-bold md:font-thin md:text-5xl;

  color: #46bdc6;
}

.menu > li > a {
  @apply py-3 px-6 block;
}

.menu > li {
  @apply font-normal border-b-2 duration-200 cursor-pointer;

  border-color: transparent;
}

.menu > li.active {
  border-color: #46bdc6;
  color: #46bdc6;
}
.menu > li:hover {
  border-color: #00f1fd;
  color: #00f1fd;
}

.info-block,
.cta,
.menu > li {
  @apply transition-all duration-300;
}

.cta {
  @apply py-1.5 mt-1.5 px-10 rounded-sm focus:outline-none focus:ring shadow-sm hover:shadow-none h-8 text-midnight-800;
  @apply bg-gradient-to-r from-green-400 to-primary-600;
  @apply hover:bg-gradient-to-r hover:from-green-600 hover:to-primary-500 hover:text-midnight-50;
}

section.feature > h2 {
  @apply text-4xl;

  border-bottom: 1px dashed #37393f;
}

section.feature:nth-of-type(odd) h2 {
  @apply text-right;
}

.text-gradient,
section.feature > h2 > span {
  @apply bg-clip-text bg-gradient-to-r from-green-400  to-primary-600 font-header;
  color: transparent;
}

.sl-overlay {
  background-color: #101010 !important;
  opacity: 96%;
}

footer a {
  @apply text-gray-400 hover:text-white;
}
