@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'simplelightbox/dist/simple-lightbox.css';

html,
body {
  background-color: #151719;
  background-image: url('img/waves.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.hero {
  background-color: #101010;
  background-image: url('./img/galaxy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.brush {
  @apply block opacity-80 bg-no-repeat absolute;

  background-image: url('./img/brush.svg');
  background-size: 100% 250%;
  background-position: -20px center;

  z-index: -1;
  left: -40%;
  top: -25px;

  width: 170%;
  height: 192px;
}

.header {
  @apply sticky top-0 text-gray-300 shadow-md z-20;
}

.feature > h2 {
  font-weight: 400;
}

.gruppo {
  font-family: 'Gruppo', cursive;
}

.feature img {
  @apply h-48;

  border: 1px solid #37393f;
  box-shadow: 0 0 5px 5px #101010;
  border-radius: 6px;
}

.feature h2.gruppo {
  @apply text-xl font-bold md:font-thin md:text-5xl;

  color: #46bdc6;
}

.menu > li > a {
  @apply py-3 px-6 block;
}

.menu > li {
  @apply font-normal border-b-2 duration-200 cursor-pointer;

  border-color: transparent;
}

.menu > li.active {
  border-color: #46bdc6;
  color: #46bdc6;
}
.menu > li:hover {
  border-color: #00f1fd;
  color: #00f1fd;
}

.info-block,
.cta,
.menu > li {
  @apply transition-all duration-300;
}

.cta {
  @apply py-2 px-6 rounded-md focus:outline-none focus:ring shadow-sm hover:shadow-none h-10 mr-4;

  font-weight: 600;
  color: #37393f;
  background-color: #46bdc6;
}

.cta:hover {
  background-color: #00f1fd;
}

.info-block {
  @apply bg-blue-500;
}

section > h2.gruppo {
  border-bottom: 1px dashed #37393f;
}

.sl-overlay {
  background-color: #101010 !important;
  opacity: 96%;
}
