@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  outline: none;
}

.heading {
  font-family: 'Gruppo', cursive;
  z-index: 3;
  position: absolute;
  top: 30%;
  left: 20%;
  color: #fefefe;
}

.navbar {
  background-color: #151719;
  border-bottom: 1px solid #37393f;
}
